<div class="pageContainer">
    <% @products.each do |product| %>
    <div class="cardContainer">
    <%= link_to product_path(product) do %>
    <div class="imageContainer">
      <% if product.image.attached? %>
        <%= image_tag product.image, class: "realImage" %>
      <% end %>
    </div>
      <div class="cardbody">
        <h5 class="cardtitle"><%= product.name %></h5>
        <p class="cardtext"><%= number_to_currency(product.price) %></p>
      </div>
      <% end %>
  </div>
    <% end %>
</div>


